@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 20% 98%;
    --foreground: 280 60% 5%;
    --card: 270 20% 98%;
    --card-foreground: 280 60% 5%;
    --popover: 270 20% 98%;
    --popover-foreground: 280 60% 5%;
    --primary: 245 100% 61%;
    --primary-foreground: 245 20% 98%;
    --secondary: 270 100% 59%;
    --secondary-foreground: 280 60% 5%;
    --muted: 270 30% 90%;
    --muted-foreground: 280 20% 50%;
    --accent: 0 0% 87%;
    --accent-foreground: 280 60% 5%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 280 60% 5%;
    --border: 270 20% 20%;
    --input: 270 20% 20%;
    --ring: 0 0% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 270 20% 2%;
    --foreground: 280 60% 95%;
    --card: 270 20% 2%;
    --card-foreground: 280 60% 95%;
    --popover: 270 20% 2%;
    --popover-foreground: 280 60% 95%;
    --primary: 253 58% 49%;
    --primary-foreground: 280 60% 95%;
    --secondary: 76 87% 41%;
    --secondary-foreground: 270 20% 2%;
    --muted: 270 20% 80%;
    --muted-foreground: 280 60% 95%;
    --accent: 0 0% 13%;
    --accent-foreground: 280 60% 95%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 281 61% 10%;
    --border: 270 20% 60%;
    --input: 270 20% 80%;
    --ring: 0 0% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
